# Python
__pycache__/

# Environment
.venv/
.env

## HPC
*.out
*.log
*.err

# OS
.DS_Store

# Repository

## RepoEval
datasets/
query/
repositories/
window/
inference_corpus/
completion/
index/
result/